.add-car-wrapper {
  height: 100vh;
  background-image:
    linear-gradient(rgb(152, 192, 42) 0.8%, rgba(0, 0, 0, 0.8)),
    url(https://www.cnet.com/a/img/resize/b5bad9fc09bf6d76cf8b5db6bca7d68fc49cdcac/2016/12/14/8ea41d9d-2a76-4f35-9d9d-1ef472f7d9dc/car-photography-how-to.jpg?auto=webp&fit=crop&height=675&width=1200);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.add-car-title {
  font-size: 29px;
  font-family: 'Cocogoose', sans-serif;
  letter-spacing: 10px;
  color: #fff;
  text-align: center;
  padding-top: 17vh;
}

.add-car-form {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  margin-top: 10vh;
  gap: 10px;
}

.add-car-columns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-group1 {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.input-group2 {
  display: flex;
  gap: 30px;
}

input[type='text'] {
  background: rgb(152, 192, 42);
  color: #fff;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 800;
  font-family: 'Lato', sans-serif;
  border: 3px solid rgb(177, 171, 171);
  padding: 12px 20px;
}

input[type='number'] {
  background: rgb(152, 192, 42);
  color: #fff;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 800;
  font-family: 'Lato', sans-serif;
  border: 3px solid rgb(177, 171, 171);
  padding: 12px 20px;
}

.file-input-car {
  background: rgb(152, 192, 42);
  border-radius: 30px;
  color: rgb(241, 238, 238);
  font-size: 14px;
  font-weight: 800;
  font-family: 'Lato', sans-serif;
  border: 3px solid rgb(177, 171, 171);
  padding: 12px 0 0 10px;
}

input[type='text']:focus {
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
  border-color: rgb(149, 201, 8);
  outline: 0;
}

input[type='url']:focus {
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
  border-color: rgb(149, 201, 8);
  outline: 0;
}

input[type='number']:focus {
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
  border-color: rgb(149, 201, 8);
  outline: 0;
}

.add-car-btn {
  background: #fff;
  color: rgb(152, 192, 42);
  border-radius: 30px;
  border: none;
  padding: 14px 80px;
  font-size: 17px;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
}

.add-car-btn:hover {
  background: rgb(152, 192, 42);
  color: rgb(242, 243, 239);
}

::placeholder {
  color: #fff;
}

.back-button {
  margin: 10px 0 0 30px;
}

@media screen and (max-width: 1025px) {
  .text-add-car h5 {
    display: none;
  }

  .add-car-btn {
    font-size: 17px;
    font-weight: 700;
    padding: 3px 80px;
  }

  input[type='text'] {
    font-size: 14px;
    font-weight: 700;
    padding: 2px 25px;
    color: #fff;
  }

  input[type='number'] {
    font-size: 14px;
    font-weight: 700;
    padding: 2px 25px;
  }

  input[type='url'] {
    font-size: 14px;
    font-weight: 700;
    padding: 2px 25px;
  }

  .add-car-form select {
    font-size: 14px;
    font-weight: 700;
    padding: 2px 25px;
  }

  .input-group1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }

  .input-group2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .add-car-title {
    font-size: 25px;
    font-family: 'Cocogoose', sans-serif;
    letter-spacing: 7px;
    color: #fff;
    text-align: center;
    padding-top: 12vh;
  }
}
