.delete-car-wrapper {
  display: flex;
}

.car-loop {
  margin: 100px auto 0 auto;
  width: 80%;
  padding: 0 100px;
}

.delete-container {
  display: flex;
  justify-content: space-between;
  padding: 2px 16px;
  align-items: center;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.car-delete-photo img {
  width: 70px;
  height: 70px;
}

.car-delete-name {
  font-size: 27px;
  font-weight: 800;
  color: rgb(99, 93, 93);
  font-family: 'Lato', sans-serif;
}

.delete-button {
  background: rgb(218, 64, 26);
  color: rgb(242, 243, 239);
  border-radius: 30px;
  border: none;
  padding: 1px 7px;
  font-size: 17px;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
}

.delete-button:hover {
  background: rgb(241, 239, 239);
  color: rgb(218, 64, 26);
}

@media screen and (max-width: 1024px) {
  .navbar {
    display: none;
  }

  .car-loop {
    margin: 150px auto 0 auto;
    width: 100%;
    padding: 0 10px;
  }

  .delete-container {
    display: flex;
    justify-content: space-between;
    padding: 2px 16px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  .car-delete-name {
    font-size: 27px;
    font-weight: 800;
    color: rgb(99, 93, 93);
    font-family: 'Lato', sans-serif;
  }

  .delete-button {
    background: rgb(218, 64, 26);
    color: rgb(242, 243, 239);
    border-radius: 30px;
    border: none;
    padding: 1px 7px;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
  }

  .delete-button:hover {
    background: rgb(241, 239, 239);
    color: rgb(218, 64, 26);
  }
}
