.car_details_page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;

  .header {
    z-index: 999;
  }

  .sidebar {
    display: none;
  }
}

.show_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;

  .show_img {
    background-color: transparent;
    height: 30vh;

    img {
      max-height: 250px;
      margin: 0 auto;
      outline: none;
      background-color: transparent;
    }

    .btn_home {
      align-self: flex-start;
    }
  }

  .btn_container {
    align-self: flex-end;
    margin-right: 5%;
    margin-top: 50px;

    .btn {
      display: flex;
      align-self: center;
      background-color: #97bf0f;
      padding: 1rem 2rem;
      border-radius: 10rem;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: bold;
      font-family: 'Lato', sans-serif;
      letter-spacing: 0.15rem;
      transition: all 0.3s;
      position: relative;
      overflow: hidden;
      z-index: 1;
      border: none;
      cursor: pointer;

      &:hover {
        color: #fff;

        &::before {
          width: 100%;
        }
      }
    }
  }

  .show_content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .show_header {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;

      h2 {
        font-size: 2rem;
        font-weight: bold;
        text-align: end;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
      }

      p {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: end;
        font-family: 'Lato', sans-serif;
      }
    }

    .show_details {
      width: 90%;

      .car_details {
        display: flex;
        justify-content: space-between;
        background-color: lightgrey;
        font-weight: 400;

        .details {
          font-size: 1.2rem;
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          margin: 0;
          padding: 8px 3px;
        }
      }

      .car_detail {
        display: flex;
        justify-content: space-between;

        .details {
          font-size: 1.2rem;
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          padding: 8px 3px;
          margin: 0;
        }
      }

      .show_discount {
        margin-top: 5px;

        p {
          padding: 0 15px;
          display: flex;
          gap: 0.5rem;
          font-size: 1.4rem;

          .dis_amt {
            text-transform: uppercase;
            font-weight: bold;
            font-family: 'Lato', sans-serif;
          }

          .dis_text {
            text-transform: capitalize;
            font-family: 'Lato', sans-serif;
          }
        }
      }
    }

    .more_cars {
      margin-right: 5%;
      align-self: flex-end;
      margin-top: 1rem;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      span {
        font-weight: bolder;
        font-size: 1.2rem;
        padding-bottom: 4px;
        justify-self: center;
        align-self: center;
        font-family: 'Lato', sans-serif;
      }
    }
  }
}

.success {
  color: #42f10c;
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .car_details_page {
    display: flex;
    flex-direction: row;
    padding-top: 0 !important;

    .sidebar {
      display: flex;
    }
  }

  .btn_container {
    margin-bottom: 30px !important;
  }

  .details {
    padding: 8px 13px !important;
  }
}

@media screen and (min-width: 1301px) {
  .car_details_page {
    display: flex;
    flex-direction: row;
    padding-top: 0 !important;

    .sidebar {
      display: flex;
      width: 30%;
    }
  }

  .show_container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .show_img {
      width: 50%;
    }

    .show_content {
      width: 50%;
    }

    .btn_container {
      margin-top: 70px;
    }
  }
}

.d_flex {
  display: flex;
}
