.rocket {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-left: 20px;
  width: 15%;
  align-self: center;
}

.rocket_name {
  color: #000;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.img-container {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: relative;
  background-color: rgb(187, 236, 217);
  opacity: 0.9;
  z-index: 1;
  align-self: center;
  transition: 0.5s;
}

.img-container:hover {
  background-color: rgb(235, 138, 74);
  transform: translateY(-10px);
}

.one-image {
  width: 150%;
  height: 50%;
  position: absolute;
  margin-top: 38px;
  left: -15px;
  z-index: -1;
  opacity: 0.9;
}

.badge {
  display: flex;
}

.rocket-description {
  font-size: 20px;
}

.reserved {
  background-color: #3998ff;
  color: white;
  padding: 7px;
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  align-self: start;
  margin: 5px 10px;
}

.booking-button {
  background-color: #3998ff;
  color: white;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  align-self: start;
  margin-top: 10px;
  width: 120px;
  cursor: pointer;
}

.cancel-button {
  background-color: #fff;
  color: rgb(82, 80, 80);
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #000;
  border-radius: 5px;
  align-self: start;
  margin-top: 10px;
  width: 120px;
  cursor: pointer;
}

.car-name {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: bolder;
  align-self: center;
}

hr {
  width: 70%;
  border: 2px dotted #050505;
  border-style: none none dotted;
  color: rgb(27, 26, 26);
  background-color: rgb(240, 235, 235);
  align-self: center;
}

.description {
  font-size: 17px;
  align-self: center;
  color: rgb(133, 131, 131);
}

.social-car {
  display: flex;
  color: rgb(148, 143, 143);
  align-self: center;
  width: 150px;
  margin: 40px 0 40px 40px;
  gap: 20px;
}

.twitter:hover {
  color: rgb(95, 90, 90);
}

.github:hover {
  color: rgb(95, 90, 90);
}

.linkedin:hover {
  color: rgb(95, 90, 90);
}
